In [143]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns',30) #to see all the columns

In [144]:
train = pd.read_csv("PA1_train.csv")

# Part 0

## (a)

In [145]:
# Removing the ID feature :
train.drop('id',axis=1,inplace=True)

#### Why do you think it is a bad idea to use this feature in learning?
___
Our goal is to predict the price of a house given its features. The index of the house in the database is not related to its value, that feature came from the extraction process. Using it in learning would increase the complexity of the model for no reason and might cause overfitting.

## (b)
#### Split the date feature into three separate numerical features: month, day , and year. Can you think of better ways of using this date feature?

In [146]:
train['month'] = train.date.map(lambda x : x.split('/')[0])
train['day'] = train.date.map(lambda x : x.split('/')[1])
train['year'] = train.date.map(lambda x : x.split('/')[2])

Suggestion of ways to use this date feature :
- We could compute the number of days between today and the date the house was sold, that would give us a numerical feature that may partly explain the price of the house.
- We could also just keep the `year`, which would be a simpler and categorical version of the first suggestion.
- We could create a new feature : the number of years between the building year and the year it was sold.

## (c)
#### Build a table that reports the statistics for each feature. For numerical features, please report the mean, the standard deviation, and the range. Several of the features (waterfront, grade, condition (the later two are ordinal)) that are marked numeric are in fact categorical. For such features, please report the percentage of examples for each category.

In [147]:
num = ['bedrooms','bathrooms','sqft_living','sqft_lot','floors',\
       'view','sqft_above','sqft_basement','yr_built','yr_renovated'\
       ,'lat','long','sqft_living15','sqft_lot15']
cat = ['waterfront','condition','grade']

In [148]:
pd.DataFrame({'Feature':num,'Mean':train[num].mean(),\
              'Standard deviation':train[num].std(),\
             'Range':train[num].max()-train[num].min()})

                     Feature          Mean  Standard deviation         Range
bedrooms            bedrooms      3.375200            0.943246  3.200000e+01
bathrooms          bathrooms      2.118875            0.765128  7.250000e+00
sqft_living      sqft_living   2080.223200          911.334358  9.520000e+03
sqft_lot            sqft_lot  15089.201400        41203.894918  1.650787e+06
floors                floors      1.503700            0.542647  2.500000e+00
view                    view      0.229400            0.755932  4.000000e+00
sqft_above        sqft_above   1793.099300          830.865434  8.490000e+03
sqft_basement  sqft_basement    287.123900          435.005264  2.720000e+03
yr_built            yr_built   1971.124900           29.480594  1.150000e+02
yr_renovated    yr_renovated     81.226700          394.379804  2.015000e+03
lat                      lat     47.559814            0.138651  6.217000e-01
long                    long   -122.213287            0.141405  1.195000e+00
sqft_living15  sqft_living15   1994.326100          691.900301  5.650000e+03
sqft_lot15        sqft_lot15  12746.323400        28241.243043  8.705400e+05

In [149]:
d = {}
for i in cat:
    n = train[cat].nunique().max()-train[cat].nunique()[i]
    d[i.capitalize()+ " categories"] = list(train[i].value_counts(normalize=True).index)+[' ']*n
    d[i[0]+" %"] = list(train[i].value_counts(normalize=True)*100)+[' ']*n
pd.DataFrame(d)

,Waterfront categories,w %,Condition categories,c %,Grade categories,g %
0,0,99.3,3,65.3,7,41.30
1,1,0.7,4,25.69,8,28.38
2,,,5,8.12,9,11.82
3,,,2,0.76,6,9.33
4,,,1,0.13,10,5.47
5,,,,,11,2.10
6,,,,,5,1.05
7,,,,,12,0.39
8,,,,,4,0.11
9,,,,,13,0.05

## (d)
#### Based on the meaning of the features as well as the statistics, which set of features do you expect to be useful for this task? Why?

Some of them ...

## (e)
#### Normalize all features to the range between 0 and 1 using the training data. Note that when you apply the learned model from the normalized data to test data, you should make sure that you are using the same normalizing procedure as used in training.

$$Normalize(x)=\frac{x-min(x)}{max(x)-min(x)}$$

In [150]:
for i in train.drop(['dummy','date'],axis=1).columns: #not possible to normalize date so we drop it, also dummy
    train[i] = train[i].map(float)
    M = train[i].max()
    m = train[i].min()
    train[i] = train[i].map(lambda x : (x-m)/(M-m))